<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861880662345-8n8u4hdbq645jka2ab3vo6s6le3j6ser.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861880662345-8n8u4hdbq645jka2ab3vo6s6le3j6ser</string>
	<key>API_KEY</key>
	<string>AIzaSyCv5-U9uzTmAsENp2qZQ86ETIzpVOm-H1E</string>
	<key>GCM_SENDER_ID</key>
	<string>861880662345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upworkTest.FirebaseMVVM</string>
	<key>PROJECT_ID</key>
	<string>mvvmlogin-c565c</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmlogin-c565c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861880662345:ios:a9a1612cda740958b10298</string>
</dict>
</plist>